

NEXT_PUBLIC_API_URL=http://localhost:3001

# GOOGLE CLOUD STORAGE
GOOGLE_CLOUD_TYPE=service_account
GOOGLE_CLOUD_PROJECT_ID=edute-703fe
GOOGLE_CLOUD_PRIVATE_KEY_ID=
GOOGLE_CLOUD_PRIVATE_KEY=
GOOGLE_CLOUD_CLIENT_EMAIL=edutech@edute-703fe.iam.gserviceaccount.com
GOOGLE_CLOUD_CLIENT_ID=109522372198583332831
GOOGLE_CLOUD_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_CLOUD_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_CLOUD_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_CLOUD_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/edutech%40edute-703fe.iam.gserviceaccount.com
GOOGLE_CLOUD_UNIVERSE_DOMAIN=googleapis.com

GOOGLE_CLOUD_STORAGE_BUCKET_NAME=edutech-2025-test-edu
GOOGLE_CLOUD_TRANSCODER_REGION=asia-southeast1


NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback/google
NEXT_PUBLIC_CLIENT_ID=867575481767-a3c9b73uall1f0b56j878kb5spho7b5a.apps.googleusercontent.com
NEXT_PUBLIC_CLIENT_SECRET=G

GOOGLE_CLOUD_STORAGE_ORIGIN=http://localhost:3000

#Map
MAPBOX_ACCESS_TOKEN=